<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Farmer's Portals</title>

<link href="{% static 'home/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'home/style.css' %}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">	
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Bootstrap Responsive Templates, Iphone Compatible Templates, Smartphone Compatible Templates, Ipad Compatible Templates, Flat Responsive Templates"/>
<script src="{% static 'home/js/jquery-1.11.0.min.js'%}"></script>
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<!--start-header-->
			<div id="home" class="header">
					<div class="top-header">
						<div class="container">
							<div class="logo">
								<a href="index.html"><img src="{% static 'home/images/logo.png'%}" alt=""></a>  
							</div>
							<!--start-top-nav-->
							 <div class="top-nav">
								<ul>
									<li class="active"><a class="play-icon popup-with-zoom-anim" href="#small-dialog"><span> </span>Log in</a></li>
								</ul>
							</div>
							
							<div class="clearfix"> </div>
						</div>
				</div>
			<!---pop-up-box-->
					  <script type="text/javascript" src="{% static 'home/js/modernizr.custom.min.js'%}"></script>    
					<link href="{%static 'home/popup-box.css'%}" rel="stylesheet" type="text/css" media="all"/>
					<script src="{% static 'home/js/jquery.magnific-popup.js'%}" type="text/javascript"></script>
					<!---//pop-up-box-->
					<div id="small-dialog" class="mfp-hide">
						<div class="login">
							<h3>Log In</h3>
							<h4>Already a Member</h4>
							
							<input type="text" placeholder="Aadhar Number" name="aadhar" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" />
							<input type="text" placeholder="Mobile Number" name="mobile"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"/>
							<br><br>
							<input type="submit" value="Get OTP" required>
							<br><br>
							<input type="text" name="otp" placeholder="OTP here...">
							<br>
								<input type="submit" value="Submit OTP">
							<br>
						</div>
					</div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>					
		<!--End-header-->
		<div class="navgation">
					<div class="menu">
                         <a class="toggleMenu" href="#"><img src="{% static 'home/images/menu-icon.png'%}" alt="" /> </a>
							<ul class="nav" id="nav">
							<li><a href="{% url 'home:index' %}">Home</a></li>
							<li><a href="weather.html">Weather Forecast</a></li>
							<li><a href="card.html">Major Crops</a></li>
							<li><a href="#">Forum</a></li>
							<li><a href="{% url 'home:contact' %}">Contact Us</a></li>
							<li><a href="contact.html">Analyze your profile</a></li>
							</ul>
                            <!--start-top-nav-script-->
		                     <script type="text/javascript" src="{%static 'home/js/responsive-nav.js' %}"></script>
							<script type="text/javascript">
							jQuery(document).ready(function($) {
								$(".scroll").click(function(event){		
									event.preventDefault();
									$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
								});
							});
							</script>
							<!--//End-top-nav-script-->
					</div>
					
					<div class="clearfix"> </div>
		</div>
		</div>
		 <div class = "weather_base" >
			<div class = "soil">
				{% if registered %}
					<a href="">home</a>
				{% else %}
				  <form action="{% url 'home:signup' %}" method="post">
				    <!-- <label for="name">Name </label> -->
				    <br> <br> <br>
				    <input type="text" id="name" name="name" placeholder="Your Name" required> 
				    <br>
				    <!-- <label for="address">Address</label> -->
				    <input type="text" id="address" name="address" placeholder="Address" required> 
				    <br>
				    <!-- <label for="a_no">Aadhaar Number</label> -->
				    <input type="text" id="a_no" name="aadhar" placeholder="Aadhaar Number" required> 
				  	<br>
				  	<!-- <label for="mobile">Mobile Number</label> -->
				    <input type="text" id="mobile" name="mobile" placeholder="Mobile Number" required>  
				  	<div class="contact-but">
								<input type="submit" value="GENERATE SOIL PROFILE" />
					</div>
					<br> <br>
				  </form>
				  {% endif %}
			</div>
		</div> 
		 <div class="footer">
                         <div class="container">
                                    <div class="footer-text">
										<p>DESIGN BY <a href="#"> XTREME_CODERS</a></p>
									</div>
                         </div>
					<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
     </div>
</body>
</html>